<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Market</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.oracle.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Show</display-name>
    <servlet-name>Show</servlet-name>
    <servlet-class>com.oracle.servlet.Show</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Show</servlet-name>
    <url-pattern>/Show</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUser</display-name>
    <servlet-name>ShowUser</servlet-name>
    <servlet-class>com.oracle.servlet.ShowUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUser</servlet-name>
    <url-pattern>/ShowUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mainview</display-name>
    <servlet-name>Mainview</servlet-name>
    <servlet-class>com.oracle.servlet.Mainview</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mainview</servlet-name>
    <url-pattern>/Mainview</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>View</display-name>
    <servlet-name>View</servlet-name>
    <servlet-class>com.oracle.servlet.View</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>View</servlet-name>
    <url-pattern>/View</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckCodeServlet</display-name>
    <servlet-name>CheckCodeServlet</servlet-name>
    <servlet-class>com.oracle.servlet.CheckCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet</servlet-name>
    <url-pattern>/CheckCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckCodeServlet1</display-name>
    <servlet-name>CheckCodeServlet1</servlet-name>
    <servlet-class>com.oracle.servlet.CheckCodeServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckCodeServlet1</servlet-name>
    <url-pattern>/CheckCodeServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mainview1</display-name>
    <servlet-name>Mainview1</servlet-name>
    <servlet-class>com.oracle.servlet.Mainview1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mainview1</servlet-name>
    <url-pattern>/Mainview1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delte</display-name>
    <servlet-name>Delte</servlet-name>
    <servlet-class>com.oracle.servlet.Delte</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delte</servlet-name>
    <url-pattern>/Delte</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Page</display-name>
    <servlet-name>Page</servlet-name>
    <servlet-class>com.oracle.servlet.Page</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Page</servlet-name>
    <url-pattern>/Page</url-pattern>
  </servlet-mapping>
</web-app>